.div{
  background-image: url(../../public/images/home.png);
  background-size: cover;
  display: flex;
  width: 100vw;
}

.campoParagrafo {
  color: black;
  width: 48%;
  text-align: center;
  position: relative;
  left: 11%;
  margin-top: 19%;
}

@media screen and (max-width: 400px) {
  .campoParagrafo {
      padding: 10px;
      font-size: 14px;
  }
}