.div{
  background-image: url(../../public/images/home.png);
  background-size: cover;
  display: flex;
  width: 100vw;
  z-index: -1;
}

.campoParagrafo {
  font-family: "Inter", serif;
  color: black;
  width: 48%;
  text-align: center;
  position: relative;
  left: 11%;
  margin-top: 19%;
}