.div{
  background-image: url(../../public/images/home.png);
  background-size: cover;
  display: flex;
  z-index: -1;
}

.campoParagrafo{
  width: 48%;
  text-align: center;
  position: relative;
  left: 10%;
  margin-top: 17%;
}